
<header class="panel-cover <%= !is_home()?'panel-cover--collapsed':''%>" >
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <h1 class="panel-cover__title panel-title"><a href="<%= config.root %>" title="<%= __('gohome') %> <%= config.title %>"><%= config.title %></a></h1>
        <% if (config.subtitle) { %>
        <span class="panel-cover__subtitle panel-subtitle"><!-- <%= config.subtitle %> --></span>
        <% } %>
        <hr class="panel-cover__divider" />
        <% if (config.subtitle) { %>
        <p class="panel-cover__description"><%- config.subtitle %></p>
        <% } %>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">
          <div>
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="/#blog" title="<%= __('visitblog') %>" class="blog-button"><%= __('blog') %></a></li>
            <% for (var i in theme.menu){ %>
              <li class="navigation__item"><a href="<%- theme.menu[i] %>"><%= i %></a></li>
            <% } %>
            </ul>
          </nav>
          </div>
          <div>
          <%- partial('_partial/social', {}) %>
          </div>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay <%= theme.background.color %>"></div>
  </div> 
</header>
<script type="text/javascript">
var side = document.getElementsByClassName("panel-cover")[0];
function checkWebp() {
	try{
		return(document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') == 0);
	}catch(err) {
		return false;
	}
};

if(checkWebp()) {
	side.style.backgroundImage = "url('<%- theme.background.cover %>.webp')";
} else {
	side.style.backgroundImage = "url('<%- theme.background.cover %>')";
}
</script>